.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #3f3f3d;
    color:white;
}
.admin-supr{
    width:20%;
}
.form-error-message {
    display: ruby-text-container;
}
.modify-form {
    width: 60%;
    margin: 0 auto 0 2%;
}
.add-form {
    margin: 0 auto;
    width: 60%;
}